<!--
Title: Body Scanner UI
Used In File(s): \code\game\machinery\adv_med.dm
 -->

{{if !data.occupied}}
	<h3>Пациент не обнаружен.</h3>
{{else}}
	<h4><b>Результаты сканирования:</b></h4>
	<div class="item">
		<div class="itemLabelNarrow">
			Имя:
		</div>
		<div class="itemContent">
			{{:data.occupant.name}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow">
			Здоровье:
		</div>
		{{:helper.displayBar(data.occupant.health, -100, 100, (data.occupant.health >= 50) ? 'good' : (data.occupant.health >= 0) ? 'average' : 'bad')}}
			<div class="itemContent" style="width: 60px">
				{{:helper.smoothRound(data.occupant.health)}}%
			</div>
	</div>
	<div class="item">
		<div class="itemLabelNarrow">
			Статус:
		</div>
		<div class="itemContent">
			{{if data.occupant.stat==0}}
				<span class="good"> Живой </span>
			{{else data.occupant.stat==1}}
				<span class="average"> Критическое </span>
			{{else}}
				<span class="bad"> Мёртв </span>
			{{/if}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabelNarrow">
			Температура:
		</div>
		<div class="itemContent">
			{{:helper.smoothRound(data.occupant.bodyTempC)}}&deg;C, {{:helper.smoothRound(data.occupant.bodyTempF)}}&deg;F
		</div>
	</div>
	{{if data.occupant.hasBorer}}
		<span class="bad">
			Обнаружена большая опухоль в лобной доле, возможно — злокачественная. Рекомендуется хирургическое вмешательство.</span> <br>
	{{/if}}
	{{if data.occupant.blind}}
		<span class="average">Обнаружена катаракта.</span><br>
	{{/if}}
	{{if data.occupant.colourblind}}
		<span class="average">Обнаружены аномалии фоторецепторов.</span><br>
	{{/if}}
	{{if data.occupant.nearsighted}}
		<span class="average">Обнаружено смещение сетчатки.</span> <br>
	{{/if}}

	<br>
	{{:helper.link('Печать', 'print', {'print_p' : 1, 'name' : data.occupant.name})}}
	{{:helper.link('Извлечь пациента', 'arrow-circle-o-down', {'ejectify' : 1}, data.occupied ? null : 'disabled')}}
	<br> <br>

	<b>Повреждения: </b>
	<table> <tbody>
			<tr>
				<td> Физические повреждения: </td>
				<td> Повреждения мозга: </td>
			</tr>
			<tr>
				<td> {{:helper.displayBar(data.occupant.bruteLoss, 0, data.occupant.maxHealth+100, (data.occupant.bruteLoss < 15) ? 'notgood' : (data.occupant.bruteLoss < 40) ? 'average' : 'bad', data.occupant.bruteLoss) }} </td>
				<td> {{:helper.displayBar(data.occupant.brainLoss, 0, data.occupant.maxHealth+100, (data.occupant.brainLoss < 15) ? 'notgood' : (data.occupant.brainLoss < 40) ? 'average' : 'bad', data.occupant.brainLoss)}}  </td>
			</tr>
			<tr>
				<td> Респираторные повреждения: </td>
				<td> Уровень радиации: </td>
			</tr>
			<tr>
				<td> {{:helper.displayBar(data.occupant.oxyLoss, 0, data.occupant.maxHealth+100, (data.occupant.oxyLoss < 15) ? 'notgood' : (data.occupant.oxyLoss < 40) ? 'average' : 'bad', data.occupant.oxyLoss)}} </td>
				<td> {{:helper.displayBar(data.occupant.radLoss, 0, data.occupant.maxHealth+100, (data.occupant.radLoss < 15) ? 'notgood' : (data.occupant.radLoss < 40) ? 'average' : 'bad', data.occupant.radLoss)}}  </td>
			</tr>
			<tr>
				<td> Токсические повреждения: </td>
				<td> Генетические повреждения: </td>
			</tr>
			<tr>
				<td> {{:helper.displayBar(data.occupant.toxLoss, 0, data.occupant.maxHealth+100, (data.occupant.toxLoss < 15) ? 'notgood' : (data.occupant.toxLoss < 40) ? 'average' : 'bad', data.occupant.toxLoss)}} </td>
				<td> {{:helper.displayBar(data.occupant.cloneLoss, 0, data.occupant.maxHealth+100, (data.occupant.cloneLoss < 15) ? 'notgood' : (data.occupant.cloneLoss < 40) ? 'average' : 'bad', data.occupant.cloneLoss)}} </td>
			</tr>
			<tr>
				<td> Серьезность ожога: </td>
				<td> Паралич %: ({{:helper.smoothRound(data.occupant.paralysisSeconds)}} секунд осталось) </td>
			</tr>
			<tr>
				<td> {{:helper.displayBar(data.occupant.fireLoss, 0, data.occupant.maxHealth+100, (data.occupant.fireLoss < 15) ? 'notgood' : (data.occupant.fireLoss < 40) ? 'average' : 'bad', data.occupant.fireLoss)}} </td>
				<td> {{:helper.displayBar(data.occupant.paralysis, 0, 100, (data.occupant.paralysis < 25) ? 'notgood' : (data.occupant.paralysis < 50) ? 'average' : 'bad', data.occupant.paralysis)}} </td>
			</tr>
		</tbody>
	</table>
	{{if data.occupant.blood.hasBlood}}
		<br>
		<b>Кровь:</b>
		<div class="line">
			<div class="statusLabel">Пульс:</div> <div class="statusValue">{{:data.occupant.blood.pulse}} bpm</div>
		</div>
		<div class="line">
			<div class="statusLabel">Уровень крови:</div>
			{{:helper.displayBar(data.occupant.blood.bloodLevel, 0, data.occupant.blood.bloodMax, (data.occupant.blood.percent <= 60) ? 'bad' : (data.occupant.blood.percent <= 90) ? 'average' : 'good' )}}
			<div class="statusValue"> {{:helper.smoothRound(data.occupant.blood.percent)}}%, {{:helper.smoothRound(data.occupant.blood.bloodLevel)}}cl </div>
		</div>
	{{/if}}
	<br>
	{{if data.occupant.hasVirus}}
		<span class="bad">
			Обнаружен вирусный патоген в кровотоке.
		</span> <br>
	{{/if}}
	{{if data.occupant.implant_len}}
		<br>
		<b>Импланты</b>
		<table style="width: 30%">
		<tbody class="striped">
			{{for data.occupant.implant}}
				<tr><td>{{:value.name}}</td></tr>
			{{/for}}
		</tbody>
		</table>
		<br>
	{{/if}}
	<b>Внешние образования</b>
	<table> <thead>
			<tr>
				<th style="width: 25%"> Название </th>
				<th style='width: 15%'> Полный урон </th>
				<th style="width: 15%"> Физический урон </th>
				<th style="width: 15%"> Ожоги </th>
				<th style="width: 30%"> Травмы </th>
			</tr>
		</thead>
		<tbody class="striped">
			{{for data.occupant.extOrgan}}
				<tr>
					<td> {{:value.name}} </td>
					<td> {{:helper.displayBar(value.totalLoss, 0, value.maxHealth, (value.totalLoss < value.bruised) ? 'notgood' : (value.totalLoss < value.broken) ? 'average' : 'bad', value.totalLoss) }} </td>
					<td> {{if value.bruteLoss> 0}} <span class='average'> {{else}} <span> {{/if}} {{:helper.smoothRound(value.bruteLoss)}} </span> </td>
					<td> {{if value.fireLoss> 0}} <span class='average'> {{else}} <span> {{/if}} {{:helper.smoothRound(value.fireLoss)}} </span> 	</td>
					<td>
						<span class='average'>
						{{if value.internalBleeding}} внутреннее кровотечение <br> {{/if}}
						{{if value.lungRuptured}} разрыв лёгких <br> {{/if}}
						{{if value.status.broken}} {{:value.status.broken}} <br> {{/if}}
						{{if value.germ_level > 100}}
							{{if value.germ_level < 300}}
								легкая инфекция <br>
							{{else value.germ_level < 400}}
								легкая инфекция+ <br>
							{{else value.germ_level < 500}}
								легкая инфекция++ <br>
							{{else value.germ_level < 700}}
								острая инфекция <br>
							{{else value.germ_level < 800}}
								острая инфекция+ <br>
							{{else value.germ_level < 900}}
								острая инфекция++ <br>
							{{else value.germ_level >= 900}}
								сепсис <br>
							{{/if}}
						{{/if}}
						{{if value.open}}	открытый надрез <br> {{/if}}
						</span>
						{{if value.status.splinted}} наложена шина <br> {{/if}}
						{{if value.status.robotic}} роботизирован <br> {{/if}}
						{{if value.status.dead}} <span class='bad'>МЁРТВ</span> <br> {{/if}}
						{{if value.shrapnel_len}}
							{{for value.shrapnel : shrapValue:shrapindex}}
								{{:shrapValue.known ? shrapValue.name : "неизвестный объект"}} <br>
							{{/for}}
						{{/if}}
					</td>
				</tr>
			{{/for}}
		</tbody>
	</table>
	<br>
	<b>Внутренние органы</b>
	<table>	<thead>
			<tr>
				<th width=25%> Название </th>
				<th width=35%> Физический урон </th>
				<th widht=40%> Травмы </th>
			</tr>
		</thead>
		<tbody class="striped">
			{{for data.occupant.intOrgan}}
				<tr>
					<td> {{:value.name}} <br> </td>
					<td> {{:helper.displayBar(value.damage, 0, value.maxHealth, (value.damage < value.bruised) ? 'notgood' : (value.damage < value.broken) ? 'average' : 'bad', value.damage) }} </td>
					<td>
						<span class="average">
							{{if value.germ_level > 100}}
								{{if value.germ_level < 300}}
									легкая инфекция <br>
								{{else value.germ_level < 400}}
									легкая инфекция+ <br>
								{{else value.germ_level < 500}}
									легкая инфекция++ <br>
								{{else value.germ_level < 700}}
									острая инфекция <br>
								{{else value.germ_level < 800}}
									острая инфекция+ <br>
								{{else value.germ_level < 900}}
									острая инфекция++ <br>
								{{else value.germ_level >= 900}}
									сепсис <br>
								{{/if}}
							{{/if}}
						</span>
						{{if value.robotic == 1}} роботизирован <br> {{/if}}
						{{if value.robotic == 2}} assisted <br> {{/if}}
						{{if value.dead}} <span class='bad'>МЁРТВ</span> <br> {{/if}}
					</td>
				</tr>
			{{/for}}
		</tbody>
	</table>
{{/if}}
