<!--
Title: AI System Integrity Restorer
Used In File(s): \code\game\machinery\computer\aifixer.dm
-->
{{if data.occupant}}
	<div class="item">
		<h2>Записанный ИИ: {{:data.occupant}}</h2>
		<h3>Информация</h3>
		<div class="itemLabel">
			Целостность
		</div>
		<div class="itemContent">
			<span class="{{if data.integrity >= 75}}good{{else data.integrity >= 25}}average{{else}}bad{{/if}}">{{:data.integrity}}%</span>
		</div>
		<div class="itemLabel">
			Статус
		</div>
		<div class="itemContent">
			{{if data.stat == 2}}
				<span class="bad">Нефункционален</span>
			{{else}}
				<span class="good">Функционален</span>
			{{/if}}
		</div>
		<div class="itemLabel">
			Беспроводная активность
		</div>
		<div class="itemContent">
			{{:helper.link('Включен','check',{'wireless' : 0},data.wireless == 0 ? 'selected' : '')}}
			{{:helper.link('Отключен','close',{'wireless' : 1},data.wireless == 1 ? 'selected' : '')}}
		</div>
		<div class="itemLabel">
			Подпространственный трансивер
		</div>
		<div class="itemContent">
			{{:helper.link('Включен','check',{'radio' : 0},data.radio == 0 ? 'selected' : '')}}
			{{:helper.link('Отключен','close',{'radio' : 1},data.radio == 1 ? 'selected' : '')}}
		</div>
		<h3>Законы</h3>
		{{for data.laws}}
			{{:value.number}}: {{:value.law}}<br />
		{{empty}}
			<span class='bad'>Законы не обнаружены!</span>
		{{/for}}

		<h3>Действия</h3>
		{{if data.active}}
			<b>Восстановление в процессе, пожалуйста подождите.</b>
			{{:helper.displayBar(data.integrity, 0, 100, (data.integrity >= 75) ? 'good' : (data.integrity >= 25) ? 'average' : 'bad')}}
			<span class="statusValue">{{:helper.smoothRound(data.integrity)}}%</span>
		{{/if}}
		<div class="item">
			{{:helper.link('Восстановить', 'wrench', {'fix' : 1}, data.active || data.integrity >= 100 ? 'disabled' : '')}}
		</div>
	</div>
{{else}}
	<h3>Искусственный Интеллект не обнаружен.</h3>
{{/if}}
