<div class='notice'>
	{{if data.siliconUser}}
		<div class="itemContentSmall">
			Блокировка интерфейса:
		</div>
		<div class="itemContentFull">
			{{:helper.link('Включить', 'lock', {'toggleaccess' : 1}, data.siliconLock ? 'selected' : null)}}{{:helper.link('Отключить', 'unlock', {'toggleaccess' : 1}, data.malfStatus >= 2 ? 'linkOff' : (data.siliconLock ? null : 'selected'))}}
		</div>
		<div class="clearBoth"></div>
	{{else}}
		{{if data.locked}}
			Проведите ID картой для разблокировки этого интерфейса
		{{else}}
			Проведите ID картой для блокировки этого интерфейса
		{{/if}}
	{{/if}}
</div>

<div style="min-width: 480px">

	<h3>Статус питания</h3>

	<div class="item">
		<div class="itemLabel">
			Главный выключатель:
		</div>
		<div class="itemContent">
			{{if data.locked && !data.siliconUser}}
				{{if data.isOperating}}
					<span class='good'>Вкл</span>
				{{else}}
					<span class='bad'>Выкл</span>
				{{/if}}
			{{else}}
				{{:helper.link('Вкл', 'power-off', {'breaker' : 1}, data.isOperating ? 'selected' : null)}}{{:helper.link('Выкл', 'close', {'breaker' : 1}, data.isOperating ? null : 'selected')}}
			{{/if}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Внешнее питание:
		</div>
		<div class="itemContent">
			{{if data.externalPower == 2}}
				<span class='good'>Достаточное</span>
			{{else data.externalPower == 1}}
				<span class='average'>Нехватка</span>
			{{else}}
				<span class='bad'>Отсутствует</span>
			{{/if}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Аккумулятор:
		</div>
		{{if data.powerCellStatus == null}}
			<div class="itemContent bad">
				Аккумулятор снят.
			</div>
		{{else}}

			{{:helper.displayBar(data.powerCellStatus, 0, 100, (data.powerCellStatus >= 50) ? 'good' : (data.powerCellStatus >= 25) ? 'average' : 'bad')}}
			<div class="itemContent" style="width: 60px">
				{{:helper.smoothRound(data.powerCellStatus, 1)}}%
			</div>
		{{/if}}
	</div>

	{{if data.powerCellStatus != null}}
		<div class="item">
			<div class="itemLabel">
				Режим зарядки:
			</div>
			<div class="itemContent">
				{{if data.locked && !data.siliconUser}}
					{{if data.chargeMode}}
						<span class='good'>Авто</span>
					{{else}}
						<span class='bad'>Выкл</span>
					{{/if}}
				{{else}}
					{{:helper.link('Авто', 'refresh', {'cmode' : 1}, data.chargeMode ? 'selected' : null)}}{{:helper.link('Выкл', 'close', {'cmode' : 1}, data.chargeMode ? null : 'selected')}}
				{{/if}}
				&nbsp;
				{{if data.chargingStatus > 1}}
					[<span class='good'>Полностью заряжен</span>]
				{{else data.chargingStatus == 1}}
					[<span class='average'>Зарядка</span>]
				{{else}}
					[<span class='bad'>Не заряжается</span>]
				{{/if}}
			</div>
		</div>
	{{/if}}


	<h3>Каналы питания</h3>

	{{for data.powerChannels}}
		<div class="item">
			<div class="itemLabel">
				{{:value.title}}:
			</div>
			<div class="itemContent" style="width: 70px; text-align: right">
				{{:helper.smoothRound(value.powerLoad)}} Вт
			</div>
			<div class="itemContent" style="width: 105px">
				&nbsp;&nbsp;
				{{if value.status <= 1}}
					<span class='bad'>Выкл</span>
				{{else value.status >= 2}}
					<span class='good'>Вкл</span>
				{{/if}}
				{{if data.locked}}
					{{if value.status == 1 || value.status == 3}}
						&nbsp;&nbsp;Авто
					{{else}}
						&nbsp;&nbsp;Ручной
					{{/if}}
				{{/if}}
			</div>
			{{if !data.locked || data.siliconUser}}
				<div class="itemContentFull">
					{{:helper.link('Авто', 'refresh', value.topicParams.auto, (value.status == 1 || value.status == 3) ? 'selected' : null)}}
					{{:helper.link('Вкл', 'power-off', value.topicParams.on, (value.status == 2) ? 'selected' : null)}}
					{{:helper.link('Выкл', 'close', value.topicParams.off, (value.status == 0) ? 'selected' : null)}}
				</div>
			{{/if}}
		</div>
	{{/for}}

	<div class="item" style="font-weight: bold">
		<div class="itemLabel">
			Общая нагрузка:
		</div>
		<div class="itemContent" style="width: 70px; text-align: right">
			{{:helper.smoothRound(data.totalLoad)}} Вт
		</div>
	</div>

	<div class="item">&nbsp;</div>

	<div class="item">
		<div class="itemLabel">
			Блокировка панели:
		</div>
		<div class="itemContent">
			{{if data.locked && !data.siliconUser}}
				{{if data.coverLocked}}
					<span class='good'>Включить</span>
				{{else}}
					<span class='bad'>Отключить</span>
				{{/if}}
			{{else}}
				{{:helper.link('Включить', 'lock', {'lock' : 1}, data.coverLocked ? 'selected' : null)}}{{:helper.link('Отключить', 'unlock', {'lock' : 1}, data.coverLocked ? null : 'selected')}}
			{{/if}}
		</div>
	</div>

	{{if data.siliconUser}}
		<h3>Переопределения системы</h3>

		<div class="item">
			{{:helper.link('Перегрузить цепь освещения', 'lightbulb-o', {'overload' : 1})}}
			{{if data.malfStatus == 1}}
				{{:helper.link('Переопределение программ', 'file-text', {'malfhack' : 1})}}
			{{else data.malfStatus == 2}}
				{{:helper.link('Шунтировать процессы ядра', 'arrow-down', {'occupyapc' : 1})}}
			{{else data.malfStatus == 3}}
				{{:helper.link('Вернуться в основное ядро', 'arrow-left', {'deoccupyapc' : 1})}}
			{{else data.malfStatus == 4}}
				{{:helper.link('Шунтировать процессы ядра', 'arrow-down', {'occupyapc' : 1}, 'linkOff')}}
			{{/if}}
		</div>
	{{/if}}

	<div class="item">
		<div class="itemLabel">
			Освещение ночной смены:
		</div>
		<div class="itemContent">
			{{if data.locked}}
				{{if data.nightshiftLights}}
					<span class='good'>Вкл</span>
				{{else}}
					<span class='bad'>Выкл</span>
				{{/if}}
			{{else}}
				{{:helper.link('Включить', 'lightbulb-o', {'toggle_nightshift' : 1}, data.nightshiftLights ? 'selected' : null)}}{{:helper.link('Отключить', 'lightbulb-o', {'toggle_nightshift' : 1}, data.nightshiftLights ? null : 'selected')}}
			{{/if}}
		</div>
	</div>

</div>
