<!--
Title: ATM
Used In File(s): /code/modules/economy/ATM.dm
-->

<!--
#define NO_SCREEN					0
#define CHANGE_SECURITY_LEVEL		1
#define TRANSFER_FUNDS				2
#define VIEW_TRANSACTION_LOGS		3
-->

<style type="text/css">
	input[type=text], input[type=submit] {
		border: 1px solid #161616;
		background-color: #40628a;
		color: #FFFFFF;
		padding: 4px;
	}
	input[type=submit]:hover {
		background-color: #507aac;
	}
</style>

<h1>Банковский автомат Nanotrasen</h1>
Для всех ваших денежных потребностей!
<br>
<i>Номер терминала: </i> {{:data.machine_id}}. <i>Сообщайте этот код, когда связываетесь со службой поддержки Nanotrasen</i>
<br>

<div class="item">
	<div class='itemLabel'>Карта:</div>
	<div class='itemContent'>{{:helper.link(data.held_card_name, 'eject', {'choice' : 'insert_card'})}}</div>
</div>
<hr>
{{if data.ticks_left_locked_down > 0}}
	<span class='exclamation-triangle'>Максимальное число попыток ввода пин-кода исчерпано! Доступ в этот банкомат временно приостановлен.</span>
{{else data.authenticated_account}}
	{{if data.view_screen == 1}} <!-- CHANGE_SECURITY_LEVEL -->
		<h4>Выберите новый уровень безопасности для этого аккаунта:</h4>
		<div class="item">
			<div class='itemLabel'>Уровень:</div>
			<div class='itemContent'>{{:helper.link('Нулевой', 'unlock', {'choice' : 'change_security_level', 'new_security_level' : 0}, data.security_level == 0 ? 'selected' : null)}}</div>
		</div>
		<div class="item">
			<div class='itemLabel'>Описание:</div>
			<div class='itemContent'>Для доступа к этому аккаунту потребуется или номер аккаунта, или карта. EFTPOS транзакции будут требовать карту и спрашивать пин-код, но не будут верифицировать его корректно.</div>
		</div>
		<hr>
		<div class="item">
			<div class='itemLabel'>Уровень:</div>
			<div class='itemContent'>{{:helper.link('Первый', 'unlock-alt', {'choice' : 'change_security_level', 'new_security_level' : 1}, data.security_level == 1 ? 'selected' : null)}}</div>
		</div>
		<div class="item">
			<div class='itemLabel'>Описание:</div>
			<div class='itemContent'>Для доступа к этому аккаунту и совершения транзакций должны быть вручную введены номер аккаунта и пин-код.</div>
		</div>
		<hr>
		<div class="item">
			<div class='itemLabel'>Уровень:</div>
			<div class='itemContent'>{{:helper.link('Второй', 'lock', {'choice' : 'change_security_level', 'new_security_level' : 2}, data.security_level == 2 ? 'selected' : null)}}</div>
		</div>
		<div class="item">
			<div class='itemLabel'>Описание:</div>
			<div class='itemContent'>Для доступа к этому аккаунту и совершения транзакций в дополнение к номеру аккаунта и пин-коду также потребуется карта.</div>
		</div>
		<hr>
		{{:helper.link('Back', 'arrow-left', {'choice' : 'view_screen', 'view_screen' : 0})}}
	{{else data.view_screen == 2}} <!-- TRANSFER_FUNDS -->
		<div class='line'><b>Баланс аккаунта:</b> ${{:helper.smoothRound(data.money)}}</div>
		<form name='transfer' id='transfer' action='?src={{:data.src}}' method='get'>
			<input type='hidden' name='src' value='{{:data.src}}'>
			<input type='hidden' name='choice' value='transfer'>
			<div class='itemLabel'>Целевой номер аккаунта:</div>
			<div class='itemContent'><input type='text' name='target_acc_number' value='' style='width:200px;'></div>

			<div class='itemLabel'>Сумма для перевода:</div>
			<div class='itemContent'><input type='text' name='funds_amount' value='' style='width:200px;'></div>

			<div class='itemLabel'>Назначение платежа:</div>
			<div class='itemContent'><input type='text' name='purpose' value='Funds transfer' style='width:200px;'></div>
			<input type='submit' value='Transfer funds'>
		</form>
		<hr>
		{{:helper.link('Back', 'arrow-left', {'choice' : 'view_screen', 'view_screen' : 0})}}
	{{else data.view_screen == 3}} <!-- VIEW_TRANSACTION_LOGS -->
		<h4>Лог транзакций</h4>
		<div class='item'>{{:helper.link('Back', 'arrow-left', {'choice' : 'view_screen', 'view_screen' : 0})}}</div>

		<div class="statusDisplay" style="overflow: auto;">
			{{if data.transaction_log}}
				<table style='width: 100%'>
					<thead>
						<tr>
							<th><b>Время</b></th>
							<th><b>Цель</b></th>
							<th><b>Назначение</b></th>
							<th><b>Сумма</b></th>
							<th><b>Терминал</b></th>
						</tr>
					</thead>
					<tbody>
						{{for data.transaction_log}}
							<tr>
								<td>{{:value.date}} {{:value.time}}</td>
								<td>{{:value.target_name}}</td>
								<td>{{:value.purpose}}</td>
								<td>${{:value.amount}}</td>
								<td>{{:value.source_terminal}}</td>
							</tr>
						{{/for}}
					</tbody>
				</table>
			{{else}}
				<span class='exclamation-triangle'>Ваш аккаунт не имеет записей о совершённых финансовых транзакциях за сегодня.</span>
			{{/if}}
		</div>
	{{else}} <!-- NO_SCREEN -->
		Приветствуем, <b>{{:data.owner_name}}</b>.<br>
		<b>Баланс аккаунта:</b> ${{:helper.smoothRound(data.money)}}
		<form name='withdrawal' action='?src={{:data.src}}' method='get'>
			<input type='hidden' name='src' value='{{:data.src}}'>
			<input type='hidden' name='choice' value='withdrawal'>
			<input type='text' name='funds_amount' value=''>  <input type='submit' value='Withdraw funds'><br>
		</form>
		<hr>

		<h3>Menu</h3>
		<div class="line">{{:helper.link('Сменить уровень безопасности аккаунта', 'lock', {'choice' : 'view_screen', 'view_screen' : 1})}}</div>
		<div class="line">{{:helper.link('Совершить перевод', 'exchange', {'choice' : 'view_screen', 'view_screen' : 2})}}</div>
		<div class="line">{{:helper.link('Посмотреть логи транзакций', 'list', {'choice' : 'view_screen', 'view_screen' : 3})}}</div>
		<div class="line">{{:helper.link('Распечатать банковскую выписку', 'print', {'choice' : 'balance_statement'})}}</div>
		<div class="line">{{:helper.link('Выйти', 'sign-out', {'choice' : 'logout'})}}</div>
	{{/if}}
{{else data.linked_db}}
	<form name='atm_auth' action='?src={{:data.src}}' method='get'>
		<input type='hidden' name='src' value='{{:data.src}}'>
		<input type='hidden' name='choice' value='attempt_auth'>
		<div class='itemLabel'>Аккаунт:</div>
		<div class='itemContent'><input type='text' id='account_num' name='account_num' style='width:250px;'></div>

		<div class='itemLabel'>ПИН:</div>
		<div class='itemContent'><input type='text' id='account_pin' name='account_pin' style='width:250px;'></div>
		<br>
		<input type='submit' value='Submit'>
	</form>
{{else}}
	<span class='exclamation-triangle'>Не удаётся подключиться к базе данных. Пожалуйста повторите попытку и если ошибка сохраняется свяжитесь со службой поддержки Nanotrasen</span>
{{/if}}
