<!--
Title: Brig Timer
Used In File(s): \code\game\machinery\doors\brigdoors.dm
 -->
 <div class="item">
	<div class="itemLabel">
		Камера:
	</div>
	<div class="itemContent">
		{{:data.cell_id}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Задержанный:
	</div>
	<div class="itemContent">
		{{:data.occupant}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Преступления:
	</div>
	<div class="itemContent">
		{{:data.crimes}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Задержан (кем?):
	</div>
	<div class="itemContent">
		{{:data.brigged_by}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Срок отбытия:
	</div>
	<div class="itemContent">
		{{:data.time_set}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Времени осталось:
	</div>
	<div class="itemContent">
		{{:data.time_left}}
	</div>
</div>
{{if data.isAllowed}}
	<div class="item">
		<div class="itemLabel">
			Действия:
		</div>
		<div class="itemContent">
			{{:helper.link('Ослепить', 'flash', {'flash' : 1}, null, data.isAllowed ? '' : 'dsabled')}}
			{{:helper.link('Выпустить', null, {'release' : 1}, null, data.isAllowed ? '' : 'disabled')}}
		</div>
	</div>
	{{if !data.timing}}
		<h3>Inmate Information</h3>
		<div class="item">
			<div class="itemLabel">
				Имя:
			</div>
			<div class="itemContent">
				{{:helper.link('Указать', 'pencil', {'prisoner_name' : 'input'})}} {{:data.prisoner_name}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Обвинения:
			</div>
			<div class="itemContent">
				{{:helper.link('Указать', 'pencil', {'prisoner_charge' : 'input'})}} {{:data.prisoner_charge}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Время (в минутах):
			</div>
			<div class="itemContent">
				{{:helper.link('Указать', 'pencil', {'prisoner_time' : 'input'})}} {{:data.prisoner_time}}
			</div>
		</div>
		{{:helper.link('Подтвердить', null, {'set_timer' : 1}, null, data.isAllowed ? '' : 'disabled')}}
	{{/if}}
{{/if}}
