<!--
Title: Bluespace Artillery UI
Used In File(s): \code\modules\station_goals\bsa.dm
-->
{{if data.notice}}
	<div class="notice">{{:data.notice}}</div>
{{/if}}
<h3>Управление Блюспейс Артиллерией</h3>
<div class="item">
	<div class="itemLabel">
		Цель:
	</div>
	<div class="itemContent">
		{{:helper.link(data.target ? data.target : "Нет", 'crosshairs', {'recalibrate' : 1})}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Откат перезарядки:
	</div>
	<div class="itemContent">
		{{if data.ready}}
			<span class='good'>Готово</span>
		{{else data.reloadtime_mins || data.reloadtime_secs}}
			<span class='bad'>{{:data.reloadtime_mins}}:{{:data.reloadtime_secs}}</span>
		{{else}}
			<span class='bad'>Пушка не подключена!</span>
		{{/if}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Управление:
	</div>
	<div class="itemContent">
		{{:helper.link('ОГОНЬ!', 'warning', {'fire' : 1}, data.ready && data.target ? null : 'disabled')}}
	</div>
</div>
{{if !data.connected}}
<div class="item">
	<div class="itemLabel">
		Обслуживание:
	</div>
	<div class="itemContent">
		{{:helper.link('Завершить развёртывание', 'wrench', {'build' : 1})}}
	</div>
</div>
{{else}}
<hr>
<b>Развёртывание этого оружия авторизировано командованием ВМС Nanotrasen. Помните, дружественный огонь — основание для уничтожения вашего контракта и жизни.</b>
{{/if}}
