{{if data.menu == 0}}
	<h3>Статус бака</h3>
	<div class="item">
		<div class="itemLabel">
			Этикетка бака:
		</div>
		<div class="itemContent">
			<div style="float: left; width: 180px;">{{:data.name}}</div> {{:helper.link('Сменить', 'pencil', {'choice' : 'menu', 'mode_target' : 1}, data.canLabel ? null : 'disabled')}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Давление бака:
		</div>
		<div class="itemContent">
			{{:helper.smoothRound(data.tankPressure)}} кПа
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Статус порта:
		</div>
		<div class="itemContent">
			{{:data.portConnected ? '<span class="good">Подключен</span>' : '<span class="average">Отключен</span>'}}
		</div>
	</div>

	<h3>Статус помещённого бака</h3>
	{{if data.hasHoldingTank}}
		<div class="item">
			<div class="itemLabel">
				Этикетка бака:
			</div>
			<div class="itemContent">
				<div style="float: left; width: 180px;">{{:data.holdingTank.name}}</div> {{:helper.link('Eject', 'eject', {'remove_tank' : 1})}}
			</div>
		</div>

		<div class="item">
			<div class="itemLabel">
				Давление бака:
			</div>
			<div class="itemContent">
				{{:helper.smoothRound(data.holdingTank.tankPressure)}} кПа
			</div>
		</div>
	{{else}}
		<div class="item"><span class="average"><i>Бак не вставлен.</i></span></div>
		<div class="item">&nbsp;</div>
	{{/if}}


	<h3>Состояние выпускного клапана</h3>
	<div class="item">
		<div class="itemLabel">
			Выпускное давление:
		</div>
		<div class="itemContent">
			{{:helper.displayBar(data.releasePressure, data.minReleasePressure, data.maxReleasePressure)}}
			<div style="clear: both; padding-top: 4px;">
				{{:helper.link('-', null, {'pressure_adj' : -1000}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
				{{:helper.link('-', null, {'pressure_adj' : -100}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
				{{:helper.link('-', null, {'pressure_adj' : -10}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
				{{:helper.link('-', null, {'pressure_adj' : -1}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
				<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:data.releasePressure}} кПа&nbsp;</div>
				{{:helper.link('+', null, {'pressure_adj' : 1}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
				{{:helper.link('+', null, {'pressure_adj' : 10}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
				{{:helper.link('+', null, {'pressure_adj' : 100}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
				{{:helper.link('+', null, {'pressure_adj' : 1000}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			</div>
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Выпускной клапан:
		</div>
		<div class="itemContent">
			{{:helper.link('Открыть', 'unlock', {'toggle' : 1}, data.valveOpen ? 'selected' : null)}}{{:helper.link('Закрыть', 'lock', {'toggle' : 1}, data.valveOpen ? null : 'selected')}}
		</div>
	</div>
{{else}}
	{{:helper.link('Вернуться', 'home', {'choice' : 'menu', 'mode_target' : 0}, null)}}
	<h3>Сменить этикетку</h3>
	<div class="itemLabel">
		Наименование:
	</div>
	<div class="itemContent">
		<div style="float: left; width: 180px;">{{:data.name}}</div> {{:helper.link('Сменить', 'pencil', {'rename' : 1}, data.canLabel ? null : 'disabled')}}
	</div>


	<h3>Цвета</h3>
	<div class="item" style='width: 100%'>
		<div style='float: left; width: 175px; min-height: 210px'>
			<div class='average'><b>{{:data.colorContainer.prim.name}}</b></div>
			{{for data.colorContainer.prim.options}}
				<div class='itemContentWide'>
					{{if value.icon == data.canister_color.prim}}
						{{:helper.link(value.name, '', {'choice' : data.colorContainer.prim.name, 'icon' : value.icon}, data.canLabel ? null : 'disabled', 'selected')}}
					{{else}}
						{{:helper.link(value.name, '', {'choice' : data.colorContainer.prim.name, 'icon' : value.icon}, data.canLabel ? null : 'disabled', null)}}
					{{/if}}
				</div>
			{{/for}}
		</div>
		<div style='float: left; width: 175px; min-height: 210px'>
			<div class='average'><b>{{:data.colorContainer.sec.name}}</b></div>
			{{:helper.link("None", '', {'choice' : data.colorContainer.sec.name, 'icon' : "none"}, data.canLabel ? null : 'disabled', data.colorContainer.sec.anycolor ? null : 'selected')}}
			{{for data.colorContainer.sec.options}}
				<div class='itemContentWide'>
					{{if value.icon == data.canister_color.sec}}
						{{:helper.link(value.name, '', {'choice' : data.colorContainer.sec.name, 'icon' : value.icon}, data.canLabel ? null : 'disabled', 'selected')}}
					{{else}}
						{{:helper.link(value.name, '', {'choice' : data.colorContainer.sec.name, 'icon' : value.icon}, data.canLabel ? null : 'disabled', null)}}
					{{/if}}
				</div>
			{{/for}}
		</div>
		<div style='float: left; width: 175px; min-height: 210px'>
			<div class='average'><b>{{:data.colorContainer.ter.name}}</b></div>
			{{:helper.link("None", '', {'choice' : data.colorContainer.ter.name, 'icon' : "none"}, data.canLabel ? null : 'disabled', data.colorContainer.ter.anycolor ? null : 'selected')}}
			{{for data.colorContainer.ter.options}}
				<div class='itemContentWide'>
					{{if value.icon == data.canister_color.ter}}
						{{:helper.link(value.name, '', {'choice' : data.colorContainer.ter.name, 'icon' : value.icon}, data.canLabel ? null : 'disabled', 'selected')}}
					{{else}}
						{{:helper.link(value.name, '', {'choice' : data.colorContainer.ter.name, 'icon' : value.icon}, data.canLabel ? null : 'disabled', null)}}
					{{/if}}
				</div>
			{{/for}}
		</div>
		<div style='float: left; width: 175px; min-height: 210px'>
			<div class='average'><b>{{:data.colorContainer.quart.name}}</b></div>
			{{:helper.link("None", '', {'choice' : data.colorContainer.quart.name, 'icon' : "none"}, data.canLabel ? null : 'disabled', data.colorContainer.quart.anycolor ? null : 'selected')}}
			{{for data.colorContainer.quart.options}}
				<div class='itemContentWide'>
					{{if value.icon == data.canister_color.quart}}
						{{:helper.link(value.name, '', {'choice' : data.colorContainer.quart.name, 'icon' : value.icon}, data.canLabel ? null : 'disabled', 'selected')}}
					{{else}}
						{{:helper.link(value.name, '', {'choice' : data.colorContainer.quart.name, 'icon' : value.icon}, data.canLabel ? null : 'disabled', null)}}
					{{/if}}
				</div>
			{{/for}}
		</div>
	</div>
	<h3>Декали</h3>
	<div style='float: left; width: 175px; min-height: 110px'>
		<div class='average'><b>Выберите:</b></div>
		<div class='itemContentWide'>
			{{for data.possibleDecals}}
				{{:helper.link(value.name, '', {'choice' : 'decals', 'icon' : value.icon}, data.canLabel ? null : 'disabled', value.active ? 'selected' : null)}}
			{{/for}}
		</div>
	</div>
{{/if}}
