{{if data.beaker}}
	<div class='item'>{{:helper.link('Извлечь мензурку и очистить буффер', 'eject', {'eject': 1})}}</div>
	<div class='statusDisplay'>
		<h3>Добавить в буффер:</h3>
		{{for data.beaker_reagents}}
			<div class='line'>
				<div class='itemLabel'>{{:value.name}}, {{:value.volume}} юнитов</div>
				{{:helper.link('Анализировать', 'search', {'analyze': 1, 'desc': value.description, 'name': value.name})}}
				{{:helper.link('1', 'plus', {'add': value.id, 'amount': 1})}}
				{{:helper.link('5', 'plus', {'add': value.id, 'amount': 5})}}
				{{:helper.link('10', 'plus', {'add': value.id, 'amount': 10})}}
				{{:helper.link('Всё', 'plus', {'add': value.id, 'amount': value.volume})}}
				{{:helper.link('Другое', 'plus', {'addcustom': value.id})}}
			</div>
		{{/for}}
	</div>
	<div class='statusDisplay'>
		<h3>
			<div class='item'>
					Перевести в {{:helper.link(data.mode ? 'мензурку' : 'отходы', 'arrows-h', {'toggle': 1})}}
			</div>
		</h3>
		{{for data.buffer_reagents}}
			<div class='line'>
				<div class='itemLabel'>{{:value.name}}, {{:value.volume}} юнитов</div>
				{{:helper.link('Анализировать', 'search', {'analyze': 1, 'desc': value.description, 'name': value.name})}}
				{{:helper.link('1', 'plus', {'remove': value.id, 'amount': 1})}}
				{{:helper.link('5', 'plus', {'remove': value.id, 'amount': 5})}}
				{{:helper.link('10', 'plus', {'remove': value.id, 'amount': 10})}}
				{{:helper.link('Всё', 'plus', {'remove': value.id, 'amount': value.volume})}}
				{{:helper.link('Другое', 'plus', {'removecustom': value.id})}}
			</div>
		{{/for}}
	</div>
	<div class='statusDisplay'>
		<h3>Контейнеры:</h3>
		<div class='item'>
			{{if data.condi}}
				{{:helper.link('Создать пачку (10ю макс)', 'arrow-right', {'createpill': 1})}}
				{{:helper.link('Создать флакон (50ю макс)', 'arrow-right', {'createbottle': 1})}}
			{{else}}
				<table>
					<tr>
						<td>
							{{:helper.link('Создать таблетку (100ю макс)', 'arrow-right', {'createpill': 1})}}
						</td>
						<td>
							{{:helper.link('Множество', 'arrow-right', {'createpill_multiple': 1})}}
						</td>
						<td>
							{{:helper.link('Стиль', 'pencil', {'change_pill': 1})}}
						</td>
						<td>
							<img src='pill{{:data.pillsprite}}.png'>
						</td>
					</tr>
					<tr>
						<td>
							{{:helper.link('Создать пластырь (20ю макс)', 'arrow-right', {'createpatch': 1})}}
						</td>
						<td>
							{{:helper.link('Множество', 'arrow-right', {'createpatch_multiple': 1})}}
						</td>
					</tr>
					<tr>
						<td>
							{{:helper.link('Создать флакон (50ю макс)', 'arrow-right', {'createbottle': 1})}}
						</td>
						<td>
							{{:helper.link('Стиль', 'pencil', {'change_bottle': 1})}}
						</td>
						<td>
							<img src='{{:data.bottlesprite}}.png'>
						</td>
					</tr>
				</table>
			{{/if}}
		</div>
	</div>
{{else}}
	<span class='item'>Мензурка не загружена</span><br>
{{/if}}
<div class='statusDisplay'>
	<span class='item'>
		{{if data.loaded_pill_bottle}}
		<table>
			<tr>
				<td>
					{{:helper.link('Бутылка с таблетками (' + data.loaded_pill_bottle_contents_len + '/' + data.loaded_pill_bottle_storage_slots + ')', 'eject', {'ejectp': 1})}}
				</td>
				<td>
					{{:helper.link('Сменить обёртку', 'pencil', {'change_pillbottle': 1})}}
				</td>
			</tr>
		</table>
		{{else}}
			<table>
				<tr>
					<td>
						{{:helper.link('Бутылки с таблетками нет', 'eject', {}, 'disabled')}}
					</td>
				</tr>
			</table>
		{{/if}}
	</span>
</div>
