<!--
Title: ChemHeater UI
Used In File(s): \code\modules\reagents\newchem\chem_heater.dm
-->
<div class="item">
	<div class="itemLabel">
		Статус:
	</div>
	<div class="itemContent">
		{{:helper.link(data.isActive ? 'Вкл' : 'Выкл', 'power-off', {'toggle_on' : 1}, data.isBeakerLoaded ? null : 'disabled')}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Цель:
	</div>
	<div class="itemContent">
		{{:helper.link(data.targetTemp + 'K', 'gear', {'adjust_temperature' : 'input'}, null)}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Мензурка
	</div>
	<div class="itemContent">
		{{:helper.link('Извлечь', 'eject', {'eject_beaker' : 1}, data.isBeakerLoaded ? null : 'disabled', 'floatRight')}}
	</div>
</div>
<div class="statusDisplay">
	<div style="height: 110px; overflow: auto;">
		<div class="item">
			<div class="itemContent">
				<div style="width: 100%;">
					{{if data.isBeakerLoaded}}
						<b>Объём:&nbsp;{{:helper.smoothRound(data.beakerCurrentVolume)}}&nbsp;/&nbsp;{{:data.beakerMaxVolume}}</b><br>
						<b>Температура:&nbsp;{{:helper.smoothRound(data.currentTemp)}}&nbsp;Кельвин</b><br>
						{{for data.beakerContents}}
							<span class="highlight">{{:value.volume}} юнитов {{:value.name}}</span><br>
						{{/for}}
					{{else}}
						<span class="average"><i>Мензурка не загружена</i></span>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
