{{:helper.link('Очистить заказ', 'circle', {'action' : 'clean_order'})}}<br><br>
<i>Ваше новое компьютерное устройство, о котором вы всегда мечтали, всего лишь в четырёх шагах...</i><hr>
{{if data.state == 0}}
	<div class='item'>
		<h2>Шаг 1: Выберите тип устройства</h2>
		{{:helper.link('Ноутбук', 'laptop', {'action' : 'pick_device', 'pick' : 1})}}
		{{:helper.link('Планшет', 'tablet', {'action' : 'pick_device', 'pick' : 2})}}
	</div>
{{else data.state == 1}}
	<div class='item'>
		<h2>Шаг 2: Персонализируйте ваше устройство</h2>
		<table>
			<tr>
				<td><b>Текущая цена:</b>
				<td>{{:data.totalprice}}C
			</tr>
			<tr>
				<td><b>Аккумулятор:</b>
				<td>{{:helper.link('Стандартный', 'bolt', {'action' : 'hw_battery', 'battery' : 1}, data.hw_battery == 1 ? "selected" : null)}}
				<td>{{:helper.link('Улучшенный', 'bolt', {'action' : 'hw_battery', 'battery' : 2}, data.hw_battery == 2 ? "selected" : null)}}
				<td>{{:helper.link('Продвинутый', 'bolt', {'action' : 'hw_battery', 'battery' : 3}, data.hw_battery == 3 ? "selected" : null)}}
			</tr>
			<tr>
				<td><b>Жёсткий диск:</b>
				<td>{{:helper.link('Стандартный', 'hdd-o', {'action' : 'hw_disk', 'disk' : 1}, data.hw_disk == 1 ? "selected" : null)}}
				<td>{{:helper.link('Улучшенный', 'hdd-o', {'action' : 'hw_disk', 'disk' : 2}, data.hw_disk == 2 ? "selected" : null)}}
				<td>{{:helper.link('Продвинутый', 'hdd-o', {'action' : 'hw_disk', 'disk' : 3}, data.hw_disk == 3 ? "selected" : null)}}
			</tr>
			<tr>
				<td><b>Сетевая карта:</b>
				<td>{{:helper.link('Нет', 'times', {'action' : 'hw_netcard', 'netcard' : 0}, data.hw_netcard == 0 ? "selected" : null)}}
				<td>{{:helper.link('Стандартный', 'signal', {'action' : 'hw_netcard', 'netcard' : 1}, data.hw_netcard == 1 ? "selected" : null)}}
				<td>{{:helper.link('Продвинутый', 'signal', {'action' : 'hw_netcard', 'netcard' : 2}, data.hw_netcard == 2 ? "selected" : null)}}
			</tr>
			{{if data.devtype != 2}}
			<tr>
				<td><b>Нано принтер:</b>
				<td>{{:helper.link('Нет', 'times', {'action' : 'hw_nanoprint', 'print' : 0}, data.hw_nanoprint == 0 ? "selected" : null)}}
				<td>{{:helper.link('Стандартный', 'print', {'action' : 'hw_nanoprint', 'print' : 1}, data.hw_nanoprint == 1 ? "selected" : null)}}
			</tr>
			{{/if}}
			<tr>
				<td><b>Считыватель карт:</b>
				<td>{{:helper.link('Нет', 'times', {'action' : 'hw_card', 'card' : 0}, data.hw_card == 0 ? "selected" : null)}}
				<td>{{:helper.link('Стандартный', 'credit-card', {'action' : 'hw_card', 'card' : 1}, data.hw_card == 1 ? "selected" : null)}}
			</tr>
			{{if data.devtype != 2}}
				<tr>
					<td><b>Процессор:</b>
					<td>{{:helper.link('Стандартный', 'tasks', {'action' : 'hw_cpu', 'cpu' : 1}, data.hw_cpu == 1 ? "selected" : null)}}
					<td>{{:helper.link('Продвинутый', 'tasks', {'action' : 'hw_cpu', 'cpu' : 2}, data.hw_cpu == 2 ? "selected" : null)}}
				</tr>
				<tr>
					<td><b>Тесла реле:</b>
					<td>{{:helper.link('Нет', 'times', {'action' : 'hw_tesla', 'tesla' : 0}, data.hw_tesla == 0 ? "selected" : null)}}
					<td>{{:helper.link('Стандартный', 'plug', {'action' : 'hw_tesla', 'tesla' : 1}, data.hw_tesla == 1 ? "selected" : null)}}
				</tr>
			{{/if}}
		</table>
		<table>
			<tr>
				<td><b>Подтвердить заказ:</b>
				<td>{{:helper.link('ПОДТВЕРДИТЬ', 'check', {'action' : 'confirm_order'})}}
			</tr>
		</table>

		<hr>
		<b>Аккумулятор</b> позволяет вашему устройству функционировать без внешних источников питания. Продвинутый аккумулятор увеличивает время работы устройства.<br>
		<b>Жёсткий диск</b> хранит данные на вашем устройстве. Продвинутый диск может хранить больше файлов, но потребляет больше энергии.<br>
		<b>Сетевая карта</b> позволяет вашему устройству подключаться к беспроводной сети NTNet. Базовые карты ограничены работой только на станции, в отличии от улучшенных, что могут работать везде неподалёку от станции включая астероиды.<br>
		<b>Процессор</b> критичен для функционирования вашего устройства. Он позволяет запускать программы из жёсткого диска. Улучшенные потребляют больше питания, но позволяют запускать больше программ на фоне за раз.<br>
		<b>Тесла реле</b> продвинутое беспроводное реле питания, что позволяет вашему устройству подключится к близлежащим APC. Данный компонент в текущий момент не доступен на планшетах из-за ограничений по размерам.<br>
		<b>Нано принтер</b> позволяет утройству сканировать и печатать документы. Также он сертифицирован EcoFriendlyPlus и позволяет перерабатывать уже имеющуюся макулатуру для последующей печати.<br>
		<b>Считыватель карт</b> добавляет слот, что позволяет вам манипулировать RFID картами. Также заметьте, что это не обязательно для возможности устройством считывать карты идентификации. Он просто нужен для манипулирования другими картами.
	</div>
{{else data.state == 2}}
	<h2>Шаг 3: Оплата</h2>
	<b>Ваше устройство готово к производству..</b><br>
	<i>Пожалуйста, проведите своей ID картой для завершения покупки.</i><br>
	<i>Итоговая цена: <b>{{:data.totalprice}}C</b></i>
{{else data.state == 3}}
	<h2>Шаг 4: Спасибо за покупку</h2>
	<b>Испытываете проблему с вашим новым устройством — свяжитесь со технической поддержкой Nanotrasen</b>
{{/if}}
