	<!--
	Title: Cryo Cell Status UI
	Used In File(s): \code\game\machinery\cryo.dm
	 -->
	<h3>Статус крио капсулы</h3>

	<div class="statusDisplay">
		{{if !data.hasOccupant}}
			<div class="line">Капсула не занята</div>
		{{else}}
			<div class="line">
				{{:data.occupant.name}}&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;
				{{if data.occupant.stat == 0}}
					<span class="good">В сознании</span>
				{{else data.occupant.stat == 1}}
					<span class="average">Без сознания</span>
				{{else}}
					<span class="bad">МЁРТВ</span>
				{{/if}}
			</div>

			{{if data.occupant.stat < 2}}
				<div class="line">
					<div class="statusLabel">Здоровье:</div>
					{{if data.occupant.health >= 0}}
						{{:helper.displayBar(data.occupant.health, 0, data.occupant.maxHealth, 'good')}}
					{{else}}
						{{:helper.displayBar(data.occupant.health, 0, data.occupant.minHealth, 'average alignRight')}}
					{{/if}}
					<div class="statusValue">{{:helper.smoothRound(data.occupant.health)}}</div>
				</div>

				<div class="line">
					<div class="statusLabel"><i class="fa fa-arrow-right"></i> Физические повреждения:</div>
					{{:helper.displayBar(data.occupant.bruteLoss, 0, data.occupant.maxHealth, 'bad')}}
					<div class="statusValue">{{:helper.smoothRound(data.occupant.bruteLoss)}}</div>
				</div>

				<div class="line">
					<div class="statusLabel"><i class="fa fa-arrow-right"></i> Респираторные повреждения:</div>
					{{:helper.displayBar(data.occupant.oxyLoss, 0, data.occupant.maxHealth, 'bad')}}
					<div class="statusValue">{{:helper.smoothRound(data.occupant.oxyLoss)}}</div>
				</div>

				<div class="line">
					<div class="statusLabel"><i class="fa fa-arrow-right"></i> Токсические повреждения:</div>
					{{:helper.displayBar(data.occupant.toxLoss, 0, data.occupant.maxHealth, 'bad')}}
					<div class="statusValue">{{:helper.smoothRound(data.occupant.toxLoss)}}</div>
				</div>

				<div class="line">
					<div class="statusLabel"><i class="fa fa-arrow-right"></i> Тяжесть ожогов:</div>
					{{:helper.displayBar(data.occupant.fireLoss, 0, data.occupant.maxHealth, 'bad')}}
					<div class="statusValue">{{:helper.smoothRound(data.occupant.fireLoss)}}</div>
				</div>
			{{/if}}
		{{/if}}
		<br>
		<hr>
		<div class="line">
			<div class="statusLabel">Температура капсулы:</div><div class="statusValue">
				<span class="{{:data.cellTemperatureStatus}}">{{:helper.smoothRound(data.cellTemperature)}} K</span>
			</div>
		</div>
	</div>

	<h3>Операции крио капсулы</h3>
	<div class="item">
		<div class="itemLabel">
			Статус крио капсулы:
		</div>
		<div class="itemContent" style="width: 40%;">
			{{:helper.link('Вкл', 'power-off', {'switchOn' : 1}, data.isOperating ? 'selected' : null)}}{{:helper.link('Выкл', 'close', {'switchOff' : 1}, data.isOperating ? null : 'selected')}}
		</div>
		<div class="itemContent" style="width: 26%;">
			{{:helper.link('Извлечь пациента', 'arrow-circle-o-down', {'ejectOccupant' : 1}, data.hasOccupant ? null : 'disabled')}}
		</div>
	</div>
	<div class="item">&nbsp;</div>
	<div class="item">
		<div class="itemLabel">
			Мензурка:
		</div>
		<div class="itemContent" style="width: 40%;">
			{{if data.isBeakerLoaded}}
				{{:data.beakerLabel ? data.beakerLabel : '<span class="average">Нет этикетки</span>'}}<br>
				{{if data.beakerVolume}}
					<span class="highlight">{{:helper.smoothRound(data.beakerVolume)}} юнитов осталось</span><br>
				{{else}}
					<span class="bad">Мензурка пуста</span>
				{{/if}}
			{{else}}
				<span class="average"><i>Мензурка не загружена</i></span>
			{{/if}}
		</div>
		<div class="itemContent" style="width: 26%;">
			{{:helper.link('Извлечь мензурку', 'eject', {'ejectBeaker' : 1}, data.isBeakerLoaded ? null : 'disabled')}}
		</div>
	</div>

	<div class="item">&nbsp;</div>
	<div class="item">
		<div class="itemLabel" style="width: 70%">
			Авто-извлечение здоровых пациентов:
		</div>
		<div class="itemContent" style="width: 30%;">
			{{:helper.link('Вкл', 'power-off', {'auto_eject_healthy_on' : 1}, data.auto_eject_healthy ? 'selected' : null)}}{{:helper.link('Выкл', 'close', {'auto_eject_healthy_off' : 0}, data.auto_eject_healthy ? null : 'selected')}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel" style="width: 70%">
			Авто-извлечение мёртвых пациентов:
		</div>
		<div class="itemContent" style="width: 30%;">
			{{:helper.link('Вкл', 'power-off', {'auto_eject_dead_on' : 1}, data.auto_eject_dead ? 'selected' : null)}}{{:helper.link('Выкл', 'close', {'auto_eject_dead_off' : 0}, data.auto_eject_dead ? null : 'selected')}}
		</div>
	</div>
