<!--
Title: DNA Modifier UI
Used In File(s): D:\Development\SS13-BS12\code\game\dna\dna_modifier.dm
 -->
<h3>Статус</h3>

<div class="statusDisplay">
	{{if !data.hasOccupant}}
		<div class="line">Капсула не занята</div>
	{{else}}
		<div class="line">
			{{:data.occupant.name}}&nbsp;=>&nbsp;
			{{if data.occupant.stat == 0}}
				<span class="good">В сознании</span>
			{{else data.occupant.stat == 1}}
				<span class="average">Без сознания</span>
			{{else}}
				<span class="bad">МЁРТВ</span>
			{{/if}}
		</div>

		{{if !data.occupant.isViableSubject || !data.occupant.uniqueIdentity || !data.occupant.structuralEnzymes}}
			<div class="notice">
				ДНК структура тела разрушена до неузноваемости. Пожалуйста, вставьте субъект с неповреждённой структурой ДНК.
			</div>
		{{else data.occupant.stat < 2}}
			<div class="line">
				<div class="statusLabel">Здоровье:</div>
					{{if data.occupant.health >= 0}}
						{{:helper.displayBar(data.occupant.health, 0, data.occupant.maxHealth, 'good')}}
					{{else}}
						{{:helper.displayBar(data.occupant.health, 0, data.occupant.minHealth, 'average alignRight')}}
					{{/if}}
				<div class="statusValue">{{:helper.smoothRound(data.occupant.health)}}</div>
			</div>

			<div class="line">
				<div class="statusLabel">Радиация:</div>
					{{:helper.displayBar(data.occupant.radiationLevel, 0, 100, 'average')}}
				<div class="statusValue">{{:helper.smoothRound(data.occupant.radiationLevel)}}</div>
			</div>

			<div class="line">
				<div class="statusLabel">Уникальные энзимы:</div>
				<div class="statusValue">{{:data.occupant.uniqueEnzymes ? data.occupant.uniqueEnzymes : '<span class="bad">Неизвестно</span>'}}</div>
			</div>

		{{/if}}
	{{/if}}
    <div class="clearBoth"></div>
</div>

	<h3>Операции</h3>
	{{if !data.occupant.isViableSubject || !data.occupant.uniqueIdentity || !data.occupant.structuralEnzymes}}
		<div class="notice">
			Операции не возможны на этом субъекте
		</div>
	{{else}}
	<div class="item">
		{{:helper.link('Модифицировать У.И.', 'link', {'selectMenuKey' : 'ui'}, data.selectedMenuKey == 'ui' ? 'selected' : null)}}
		{{:helper.link('Модифицировать С.Э.', 'link', {'selectMenuKey' : 'se'}, data.selectedMenuKey == 'se' ? 'selected' : null)}}
		{{:helper.link('Буферы переноса', 'floppy-o', {'selectMenuKey' : 'buffer'}, data.selectedMenuKey == 'buffer' ? 'selected' : null)}}
		{{:helper.link('Омолодители', 'plus', {'selectMenuKey' : 'rejuvenators'}, data.selectedMenuKey == 'rejuvenators' ? 'selected' : null)}}
	</div>

	<div class="item">&nbsp;</div>

	{{if !data.selectedMenuKey || data.selectedMenuKey == 'ui'}}
		<h3>Модифицировать Уникальные Идентификаторы</h3>
	    {{:helper.displayDNABlocks(data.occupant.uniqueIdentity, data.selectedUIBlock, data.selectedUISubBlock, data.dnaBlockSize, 'UI')}}
	    <div class="clearBoth"></div>
		<div class="item">
			<div class="itemLabelNarrow">
				Target:
			</div>
			<div class="itemContentWide">
				{{:helper.link('-', null, {'changeUITarget' : 0}, (data.selectedUITarget > 0) ? null : 'disabled')}}
	            <div class="statusValue">&nbsp;{{:data.selectedUITargetHex}}&nbsp;</div>
	            {{:helper.link('+', null, {'changeUITarget' : 1}, (data.selectedUITarget < 15) ? null : 'disabled')}}
			</div>
		</div>
	    <div class="item">
			<div class="itemContentWide">
				{{:helper.link('Облучить блок', 'exclamation-circle', {'pulseUIRadiation' : 1}, !data.occupant.isViableSubject ? 'disabled' : null)}}
			</div>
		</div>
	{{else data.selectedMenuKey == 'se'}}
		<h3>Модифицировать Структурные Энзимы</h3>
	    {{:helper.displayDNABlocks(data.occupant.structuralEnzymes, data.selectedSEBlock, data.selectedSESubBlock, data.dnaBlockSize, 'SE')}}
	    <div class="clearBoth"></div>
	    <div class="item">
			<div class="itemContentWide">
				{{:helper.link('Облучить блок', 'exclamation-circle', {'pulseSERadiation' : 1}, !data.occupant.isViableSubject ? 'disabled' : null)}}
			</div>
		</div>
	{{else data.selectedMenuKey == 'buffer'}}
		<h3>Буферы переноса</h3>
		{{for data.buffers}}
			<h4>Буфер {{:(index + 1)}}</h4>
			<div class="itemGroup">
				<div class="item">
					<div class="itemLabelNarrow">
						Загрузить данные:
					</div>
					<div class="itemContentWide">
						{{:helper.link('Субъект У.И.', 'link', {'bufferOption' : 'saveUI', 'bufferId' : (index + 1)}, !data.hasOccupant ? 'disabled' : null)}}
						{{:helper.link('Субъект У.И. + У.Э.', 'link', {'bufferOption' : 'saveUIAndUE', 'bufferId' : (index + 1)}, !data.hasOccupant ? 'disabled' : null)}}
						{{:helper.link('Субъект С.Э.', 'link', {'bufferOption' : 'saveSE', 'bufferId' : (index + 1)}, !data.hasOccupant ? 'disabled' : null)}}
						{{:helper.link('Из диска', 'floppy-o', {'bufferOption' : 'loadDisk', 'bufferId' : (index + 1)}, (!data.hasDisk || !data.disk.data) ? 'disabled' : null)}}
					</div>
				</div>
				{{if value.data}}
					<div class="item">
						<div class="itemLabelNarrow">
							Этикетка:
						</div>
						<div class="itemContentWide">
							{{:helper.link(value.label, 'file', {'bufferOption' : 'changeLabel', 'bufferId' : (index + 1)})}}
						</div>
					</div>
					<div class="item">
						<div class="itemLabelNarrow">
							Субъект:
						</div>
						<div class="itemContentWide">
							{{:value.owner ? value.owner : '<span class="average">Неизвестный</span>'}}
						</div>
					</div>
					<div class="item">
						<div class="itemLabelNarrow">
							Хранимые данные:
						</div>
						<div class="itemContentWide">
							{{:value.data == 'ui' ? 'Уникальные Идентификаторы' : 'Структурные Энзимы'}}
							{{:value.ue ? ' + Уникальные Энзимы' : ''}}
						</div>
					</div>
				{{else}}
					<div class="item">
						<div class="itemContentWide">
							<span class="highlight">Этот буфер пуст.</span>
						</div>
					</div>
				{{/if}}
				<div class="item">
					<div class="itemLabelNarrow">
						Опции:
					</div>
					<div class="itemContentWide">
						{{:helper.link('Очистить', 'trash', {'bufferOption' : 'clear', 'bufferId' : (index + 1)}, !value.data ? 'disabled' : null)}}
						{{:helper.link('Инъектор', data.isInjectorReady ? 'pencil' : 'clock-o', {'bufferOption' : 'createInjector', 'bufferId' : (index + 1)}, (!data.isInjectorReady || !value.data) ? 'disabled' : null)}}
						{{:helper.link('Инъектор блока', data.isInjectorReady ? 'pencil' : 'clock-o', {'bufferOption' : 'createInjector', 'bufferId' : (index + 1), 'createBlockInjector' : 1}, (!data.isInjectorReady || !value.data) ? 'disabled' : null)}}
						{{:helper.link('Перенос', 'exclamation-circle', {'bufferOption' : 'transfer', 'bufferId' : (index + 1)}, (!data.hasOccupant || !value.data) ? 'disabled' : null)}}
						{{:helper.link('Сохранить на диск', 'floppy-o', {'bufferOption' : 'saveDisk', 'bufferId' : (index + 1)}, (!value.data || !data.hasDisk) ? 'disabled' : null)}}
					</div>
				</div>
			</div>
		{{/for}}

		<h4>Диск с данными</h4>
		<div class="itemGroup">
			{{if data.hasDisk}}
				{{if data.disk.data}}
					<div class="item">
						<div class="itemLabelNarrow">
							Этикетка:
						</div>
						<div class="itemContentWide">
							{{:data.disk.label ? data.disk.label : 'Нет этикетки'}}
						</div>
					</div>
					<div class="item">
						<div class="itemLabelNarrow">
							Субъект:
						</div>
						<div class="itemContentWide">
							{{:data.disk.owner ? data.disk.owner : '<span class="average">Неизвестный</span>'}}
						</div>
					</div>
					<div class="item">
						<div class="itemLabelNarrow">
							Хранимые данные:
						</div>
						<div class="itemContentWide">
							{{:data.disk.data == 'ui' ? 'Уникальные Идентификаторы' : 'Структурные Энзимы'}}
							{{:data.disk.ue ? ' + Уникальные Энзимы' : ''}}
						</div>
					</div>
				{{else}}
					<div class="item">
						<div class="itemContentWide">
							<span class="average">Диск пустой.</span>
						</div>
					</div>
				{{/if}}
			{{else}}
				<div class="item">
					<div class="itemContentWide">
						<span class="highlight">Диск не вставлен.</span>
					</div>
				</div>
			{{/if}}
			<div class="item">
				<div class="itemLabelNarrow">
					Опции:
				</div>
				<div class="itemContentWide">
					{{:helper.link('Стереть диск', 'trash', {'bufferOption' : 'wipeDisk'}, (!data.hasDisk || !data.disk.data) ? 'disabled' : null)}}
					{{:helper.link('Извлечь диск', 'eject', {'bufferOption' : 'ejectDisk'}, !data.hasDisk ? 'disabled' : null)}}
				</div>
			</div>
		</div>
	{{else data.selectedMenuKey == 'rejuvenators'}}
		<h3>Омолодители</h3>
		<div class="item">
			<div class="itemLabelNarrow">
				Вколоть:
			</div>
			<div class="itemContentWide">
				{{:helper.link('5', 'pencil', {'injectRejuvenators' : 5}, (!data.hasOccupant || !data.beakerVolume) ? 'disabled' : null)}}
				{{:helper.link('10', 'pencil', {'injectRejuvenators' : 10}, (!data.hasOccupant || !data.beakerVolume) ? 'disabled' : null)}}
				{{:helper.link('20', 'pencil', {'injectRejuvenators' : 20}, (!data.hasOccupant || !data.beakerVolume) ? 'disabled' : null)}}
				{{:helper.link('30', 'pencil', {'injectRejuvenators' : 30}, (!data.hasOccupant || !data.beakerVolume) ? 'disabled' : null)}}
				{{:helper.link('50', 'pencil', {'injectRejuvenators' : 50}, (!data.hasOccupant || !data.beakerVolume) ? 'disabled' : null)}}
			</div>
		</div>
		<div class="item">&nbsp;</div>
		<div class="item">
			<div class="itemLabelNarrow">
				Мензурка:
			</div>
			<div class="itemContentWide" style="width: 40%;">
				{{if data.isBeakerLoaded}}
					{{:data.beakerLabel ? data.beakerLabel : '<span class="average">Нет этикетки</span>'}}<br>
					{{if data.beakerVolume}}
						<span class="highlight">{{:data.beakerVolume}} юнитов осталось</span><br>
					{{else}}
						<span class="bad">Мензурка пуста</span>
					{{/if}}
				{{else}}
					<span class="average"><i>Мензурка не загружена</i></span>
				{{/if}}
			</div>
			<div class="itemContentWide" style="width: 26%;">
				{{:helper.link('Извлечь мензурку', 'eject', {'ejectBeaker' : 1}, data.isBeakerLoaded ? null : 'disabled')}}
			</div>
		</div>
	{{/if}}

	<div class="item">&nbsp;</div>

	{{if !data.selectedMenuKey || data.selectedMenuKey == 'ui' || data.selectedMenuKey == 'se'}}
		<h3>Настройки радиоционного излучателя</h3>
		<div class="item">
			<div class="itemLabelNarrow">
				Интенсивность:
			</div>
			<div class="itemContentWide">
				{{:helper.link('-', null, {'radiationIntensity' : 0}, (data.radiationIntensity > 1) ? null : 'disabled')}}
	            <div class="statusValue">&nbsp;{{:data.radiationIntensity}}&nbsp;</div>
	            {{:helper.link('+', null, {'radiationIntensity' : 1}, (data.radiationIntensity < 10) ? null : 'disabled')}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabelNarrow">
				Длительность:
			</div>
			<div class="itemContentWide">
				{{:helper.link('-', null, {'radiationDuration' : 0}, (data.radiationDuration > 2) ? null : 'disabled')}}
	            <div class="statusValue">&nbsp;{{:data.radiationDuration}}&nbsp;</div>
	            {{:helper.link('+', null, {'radiationDuration' : 1}, (data.radiationDuration < 20) ? null : 'disabled')}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabelNarrow">
				&nbsp;
			</div>
			<div class="itemContentWide">
				{{:helper.link('Импульс излучения', 'exclamation-circle', {'pulseRadiation' : 1}, !data.hasOccupant ? 'disabled' : null)}}
			</div>
		</div>
	{{/if}}
{{/if}}
<div class="item">&nbsp;</div>

<hr>

<div class="item">
	<div class="itemLabelNarrow">
		Пациент:
	</div>
	<div class="itemContentWide">
		{{:helper.link('Извлечь пациента', 'eject', {'ejectOccupant' : 1}, data.locked || !data.hasOccupant || data.irradiating ? 'disabled' : null)}}
	</div>
</div>
<div class="item">
	<div class="itemLabelNarrow">
		Блокировка дверцы:
	</div>
	<div class="itemContentWide">
		{{:helper.link('Включить', 'lock', {'toggleLock' : 1}, data.locked ? 'selected' : !data.hasOccupant ? 'disabled' : null)}}
        {{:helper.link('Отключить', 'unlock', {'toggleLock' : 1}, !data.locked ? 'selected' : data.irradiating ? 'disabled' : null)}}
	</div>
</div>

{{if data.irradiating}}
	<div class="mask">
		<div class="maskContent">
			<h1>Облучение субъекта</h1>
			<h3>На {{:data.irradiating}} секунд.</h3>
		</div>
	</div>
{{/if}}
