<!--
Title: DNA Vault UI
Used In File(s): \code\modules\station_goals\dna_vault.dm
-->
<h3>База Данных Хранилища ДНК</h3>
<div class="item">
	<div class="itemLabel">
		Человеческое ДНК:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.dna, 0, data.dna_max, data.dna >= data.dna_max ? 'good' : 'average')}}
		<div class="statusValue">
			{{:data.dna}}/{{:data.dna_max}} образцов
		</div>
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Данные растений:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.plants, 0, data.plants_max, data.plants >= data.plants_max ? 'good' : 'average')}}
		<div class="statusValue">
			{{:data.plants}}/{{:data.plants_max}} образцов
		</div>
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Данные животных:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.animals, 0, data.animals_max, data.animals >= data.animals_max ? 'good' : 'average')}}
		<div class="statusValue">
			{{:data.animals}}/{{:data.animals_max}} образцов
		</div>
	</div>
</div>
{{if data.completed && !data.used}}
<div class="item">
	<div class="itemLabel">
		Применимые методы генной терапии:
	</div>
	<div class="itemContent">
		{{:helper.link(data.choiceA, null, {'gene' : 1, 'choice' : data.choiceA})}}
		{{:helper.link(data.choiceB, null, {'gene' : 1, 'choice' : data.choiceB})}}
	</div>
</div>
{{/if}}
