<!--
Title: EFTPOS
Used In File(s): /code/modules/economy/EFTPOS.dm
-->

<i>Терминал: </i> {{:data.machine_name}}. <i>Сообщите его при обращении в службу поддержки Nanotrasen</i><br>
{{if data.transaction_locked == 1}}
	<div class="item">{{:helper.link(data.transaction_paid ? 'Сбросить' : 'Сбросить (требуется аутентификация)', 'unlock', {'choice' : 'toggle_lock'})}}</div>
	<hr>
	<div class='item'>
		<div class='itemLabel'>Назначение платежа:</div>
		<div class='itemContent'><icon class='fa fa-info'></icon>  {{:data.transaction_purpose}}</div>
	</div>

	<div class='item'>
		<div class='itemLabel'>Сумма:</div>
		<div class='itemContent'><icon class='fa fa-usd'></icon>  {{:data.transaction_amount}}</div>
	</div>

	<div class='item'>
		<div class='itemLabel'>Связанный аккаунт:</div>
		<div class='itemContent'><icon class='fa fa-{{:data.linked_account ? "user" : "user-times"}}'></icon>  {{:data.linked_account ? data.linked_account : 'None'}}</div>
	</div>
	<hr>
	{{if data.transaction_paid}}
		<i>Текущая транзакция прошла успешно.</i>
	{{else}}
		<i>Проведите своей картой для завершения транзакции.</i>
		<div class="item">{{:helper.link('------', 'eject', {'choice' : 'scan_card'})}}</div>
	{{/if}}
{{else}}
	<div class="item">{{:helper.link('Заблокировать в новую транзакцию', 'lock', {'choice' : 'toggle_lock'})}}</div>
	<hr>
	<div class='item'>
		<div class='itemLabel'>Назначение платежа:</div>
		<div class='itemContent'>{{:helper.link(data.transaction_purpose, 'info', {'choice' : 'trans_purpose'})}}<br></div>
	</div>

	<div class='item'>
		<div class='itemLabel'>Сумма:</div>
		<div class='itemContent'>{{:helper.link(data.transaction_amount, 'usd', {'choice' : 'trans_value'})}}<br></div>
	</div>

	<div class='item'>
		<div class='itemLabel'>Связанный аккаунт:</div>
		<div class='itemContent'>{{:helper.link(data.linked_account ? data.linked_account : 'None', data.linked_account ? 'user' : 'user-times', {'choice' : 'link_account'})}}</div>
	</div>
	<hr>
	<div class="item">
		<div class="line">{{:helper.link('Сменить код доступа', 'key', {'choice' : 'change_code'})}}</div>
		<div class="line">{{:helper.link('Сканировать карту для сброса кода доступа', 'refresh', {'choice' : 'reset'})}}</div>
	</div>
{{/if}}
