<!--
Title: Fax Machine UI
Used In File(s): \code\modules\paperwork\faxmachine.dm
-->
<div class='item'>
  <h2>Авторизация</h2>
</div>
<div class='item'>
	<div class='itemLabel'>
		Подтвердите личность:
	</div>
	<div class='itemContent'>
		{{:helper.link(data.scan_name, 'eject', {'scan' : 1})}}
	</div>
</div>
<div class='item'>
	<div class='itemLabel'>
		Авторизация:
	</div>
	<div class='itemContent'>
		{{:helper.link(data.authenticated ? 'Выход' : 'Вход', data.authenticated ? 'unlock' : 'lock', {'auth' : 1})}}
	</div>
</div>
<hr>
<div class='item'>
  <h2>Меню факса</h2>
</div>
<div class="item">
	<div class='itemLabel'>
		Сеть:
	</div>

	<div class='itemContent'>
		{{:data.network}}
	</div>
</div>
<div class="item">
	<div class='itemLabel'>
		Документ:
	</div>
	<div class='itemContent'>
		{{:helper.link(data.paper, 'eject', {'paper' : 1})}}
		{{if data.paperinserted}}
			{{:helper.link('Переименовать', 'pencil', {'rename' : 1})}}
		{{/if}}
	</div>
</div>
<div class="item">
	<div class='itemLabel'>
		Получатель:
	</div>
	<div class='itemContent'>
		{{:helper.link(data.destination, 'print', {'dept' : 1}, !data.authenticated ? 'disabled' : '')}}
	</div>
</div>
<div class="item">
	<div class='itemLabel'>
		Действие:
	</div>
	<div class="itemContent">
		{{if data.authenticated}}
			{{:helper.link(data.cooldown && data.respectcooldown ? "Перенастройка" : "Отправить", data.cooldown && data.respectcooldown ? 'clock-o' : "envelope-o", {'send' : 1}, data.cooldown && data.respectcooldown ? 'disabled' : "")}}
		{{else}}
			{{:helper.link(data.cooldown && data.respectcooldown ? "Перенастройка" : "Отправить", data.cooldown && data.respectcooldown ? 'clock-o' : "envelope-o", null, !data.authenticated ? 'disabled' : "")}}
		{{/if}}
	</div>
</div>
