{{if data.error}}
	<h2>Произошла ошибка, продолжение программы невозможно.</h2>
	Дополнительная информация: {{:data.error}}<br>
	<i>Пожалуйста, попробуйте снова. Если проблема сохраняется, свяжитесь с вашим системным администратором за помощью.</i>
	{{:helper.link('Restart program', null, {'action' : 'PRG_closefile'})}}
{{else}}
	{{if data.filename}}
		<h2>Просматриваемый файл {{:data.filename}}</h2>
		<div class='item'>
		{{:helper.link('ЗАКРЫТЬ', null, {'action' : 'PRG_closefile'})}}
		{{:helper.link('РЕДАКТИРОВАТЬ', null, {'action' : 'PRG_edit'})}}
		{{:helper.link('ПЕЧАТЬ', null, {'action' : 'PRG_printfile'})}}
		</div><hr>
		{{:data.filedata}}
	{{else}}
		<h2>Доступные файлы (локально):</h2>
		<div class='statusDisplay'>
			<table>
				<tr>
					<th>Название файла</th>
					<th>Тип файла</th>
					<th>Размер файла (GQ)</th>
					<th>Операции</th>
				</tr>
				{{for data.files}}
					<tr>
						<td>{{:value.name}}</td>
						<td>.{{:value.type}}</td>
						<td>{{:value.size}}GQ</td>
						<td>
							{{:helper.link('ПОСМОТРЕТЬ', 'eye', {'action' : 'PRG_openfile', 'name' : value.name})}}
							{{:helper.link('УДАЛИТЬ', 'trash', {'action' : 'PRG_deletefile', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{:helper.link('ПЕРЕИМЕНОВАТЬ', 'pencil', {'action' : 'PRG_rename', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{:helper.link('КЛОНИРОВАТЬ', 'files-o', {'action' : 'PRG_clone', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{if !value.encrypted}}
								{{:helper.link('ЗАШИФРОВАТЬ', null, {'action' : 'PRG_encrypt', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{else}}
								{{:helper.link('РАСШИФРОВАТЬ', null, {'action' : 'PRG_decrypt', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{/if}}
							{{if data.usbconnected}}
								{{:helper.link('ЭКСПОРТ', 'upload', {'action' : 'PRG_copytousb', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
							{{/if}}
						</td>
					</tr>
				{{/for}}
			</table>
		</div>
		{{if data.usbconnected}}
			<h2>Доступные файлы (портативное устройство):</h2>
			<div class='statusDisplay'>
				<table>
					<tr>
						<th>азвание файла</th>
						<th>Тип файла</th>
						<th>Размер файла (GQ)</th>
						<th>Операции</th>
					</tr>
					{{for data.usbfiles}}
						<tr>
							<td>{{:value.name}}</td>
							<td>.{{:value.type}}</td>
							<td>{{:value.size}}GQ</td>
							<td>
								{{:helper.link('УДАЛИТЬ', 'trash', {'action' : 'PRG_usbdeletefile', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
								{{if data.usbconnected}}
									{{:helper.link('ИМПОРТ', 'download', {'action' : 'PRG_copyfromusb', 'name' : value.name}, value.undeletable ? 'disabled' : null)}}
								{{/if}}
							</td>
						</tr>
					{{/for}}
				</table>
			</div>
		{{/if}}
		{{:helper.link('НОВЫЙ ФАЙЛ', 'file-text', {'action' : 'PRG_newtextfile'})}}
	{{/if}}
{{/if}}
