<!--
Title: FireAlarm UI.
Used In File(s): \code\game\machinery\firealarm.dm
 -->
<div class="item">
    <div class="itemLabel">
        Пожарная тревога
    </div>
    <div class="itemContent">
        {{:helper.link('Активирована',   'lightbulb-o', {'alarm' : 1}, data.fire ? 'selected' : '')}}
        {{:helper.link('Деактивирована', 'lightbulb-o', {'reset' : 1}, data.fire ? '' : 'selected')}}
    </div>
</div>

<div class="item">
    <div class="itemLabel">
        Уровень угрозы
    </div>
    <div class="itemContent">
        {{if data.sec_level == "green"}}
            <span class="good">Зелёный</span>
        {{else data.sec_level == "blue"}}
            <span class="highlight">Синий</span>
        {{else data.sec_level == "red"}}
            <span class="bad">Red</span>
        {{else data.sec_level == "gamma"}}
            <span class="average">Гамма</span>
        {{else data.sec_level == "epsilon"}}
            <span class="bad"><b>Контракты уничтожены.</b></span>
        {{else data.sec_level == "delta"}}
            <span class="notice">Ядерное устройство взведено.</span>
        {{else}}
            ERR: Не удаётся констатировать уровень угрозы. Пожалуйста, расскажите об это авторизованному пожарному технику.
        {{/if}}
    </div>
</div>

<div class="item">
    <div class="itemLabel">
        Таймер система
    </div>
    <div class="itemContent">
        {{:helper.link('Инициировать', 'play',  {'time': 1}, data.timing ? 'selected' : '')}}
        {{:helper.link('Стоп',     'pause', {'time': 0}, data.timing ? '' : 'selected')}}
    </div>
</div>

<div class="item">
    <div class="itemLabel">
        Модификаторы времени
    </div>
    <div class="itemContent">
        {{:helper.link('30', 'minus', {'tp': -30})}}
        {{:helper.link('1',  'minus', {'tp': -1 })}}
        {{:helper.link('1',  'plus',  {'tp': +1 })}}
        {{:helper.link('30', 'plus',  {'tp': +30})}}
    </div>
</div>

{{if data.timing}}
<div class="item">
    <div class="itemLabel">
        Времени осталось
    </div>
    <div class="itemContent">
        {{:data.time_left}}
    </div>
</div>
{{/if}}
