<!--
Title: Keycard Authentication Device UI
Used In File(s): \code\modules\security_levels\keycard_authentication.dm
-->
<style type="text/css">
	.event {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 15px;
		text-align: center;
	}
</style>
<div class="item">
	<h1>Устройство аутентификация Keycard</h1>
	Это устройство используется для запуска определенных событий высокой степени безопасности. Требуется одновременное проведение двух идентификационных карт высокого уровня.
	<div class="item">
		{{if data.screen == 1}}
			<h2>Trigger Event</h2>
			{{:helper.link('Красная угроза', 'exclamation-triangle', { 'triggerevent' : 'Red Alert' })}}
			{{:helper.link('Отряд Быстрого Реагирования', 'exclamation-triangle', { 'triggerevent' : 'Emergency Response Team' })}}
			{{:helper.link('Предоставить экстренный доступ в техтоннели', 'unlock', { 'triggerevent' : 'Grant Emergency Maintenance Access' })}}
			{{:helper.link('Отозвать экстренный доступ в техтоннели', 'lock', { 'triggerevent' : 'Revoke Emergency Maintenance Access' })}}
			{{:helper.link('Активировать экстренный доступ на всей станции', 'unlock', { 'triggerevent' : 'Activate Station-Wide Emergency Access' })}}
			{{:helper.link('Деактивировать экстренный доступ на всей станции', 'lock', { 'triggerevent' : 'Deactivate Station-Wide Emergency Access' })}}
		{{else data.screen == 2}}
			{{if data.event == 'Emergency Response Team'}}
				<div class="item">
					<div class="itemLabel">Причина вызова ОБР:</div>
					<div class="itemContent">
						{{:helper.link(data.ertreason, 'exclamation-triangle', { 'ert' : 'callreason' })}}
					</div>
				</div>
			{{/if}}
			<h2 class="bad" style="text-align: center;">Пожалуйста, проведите вашу карту для авторизации следующего события:</h2>
			<div class="event">{{:data.event}}</div>
			{{:helper.link('Назад', 'close', { 'reset' : 1 })}}
		{{/if}}
	</div>
</div>
