<h3>Подсистемы</h3>
	<div class="item">
		<div class="itemLabel">
			Порт питания:
		</div>
		<div class="itemContent">
			{{if data.recharge_port}}
				<span class='good'>OK</span>
			{{else}}
				<span class='bad'>ОШИБКА</span>
			{{/if}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Меха:
		</div>
		<div class="itemContent">
			{{if data.has_mech}}
				<span class='good'>РАСПОЛОЖЕН ({{:data.mecha_name}})</span>
			{{else}}
				<span class='average'>НЕТ</span>
			{{/if}}
		</div>
	</div>
{{if data.has_mech}}
	<h3>Зарядка</h3>
		<div class="item">
			<div class="itemLabel">
				Уровень заряда:
			</div>
			<div class="itemContent">
				{{:helper.displayBar(data.mecha_charge_percentage, 0, 100)}}
					<div class="statusValue">
						{{:helper.smoothRound(data.mecha_charge_percentage)}}%<br>
					</div>
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Рейтинг аккумулятора:
			</div>
			<div class="itemContent">
				{{:data.mecha_maxcharge}}
			</div>
		</div>
		<div class="item">
			<div class="itemLabel">
				Заряд аккумулятора:
			</div>
			<div class="itemContent">
				{{:helper.smoothRound(data.mecha_charge)}}
			</div>
		</div>
{{/if}}
